<style>
    .pricing {
        margin: 40px 0px;
    }

    .pricing .table {
        border-top: 1px solid #ddd;
        background: #fff;
    }

    .pricing .table th,
    .pricing .table {
        text-align: center;
    }

    .pricing .table th,
    .pricing .table td {
        padding: 20px 10px;
        border: 1px solid #ddd;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .pricing .table th {
        width: 25%;
        font-size: 30px;
        font-weight: 400;
        border-bottom: 0;
        background: #2F313A;
        color: #EBEDF3;
    }

    .pricing .table tr:nth-child(odd) {
        background: #cacaca;
    }

    .pricing .table td:first-child {
        padding-left: 20px;
        text-align: left;
        padding-top: 35px;
        background: #6c757d;
    }

    .pricing tr td .ptable-title {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
    }

    .pricing tr td .ptable-title i {
        width: 23px;
        line-height: 25px;
        text-align: right;
        margin-right: 5px;
    }

    .pricing .ptable-price {
        display: block;
    }

    .pricing tr td {
        font-size: 16px;
        line-height: 32px;
    }

    .pricing tr td:first-child i {
        display: inline;
        margin-bottom: 0px;
        font-size: 22px;
    }

    .select {
        font-size: 25px;
    }
</style>

<h2 class="text-center text-light bg-dark p-3">Subscription Plan</h2>
<!-- Pricing # -->
<div class="pricing">
    <div class="container">
        <div class="pricing-table table-responsive">
            <table class="table">
                <!-- Heading -->
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        {{#each data}}
                        <th>
                            {{this.name}}
                            <span class="ptable-price">${{this.price}}</span>
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="ptable-title"> Image Upload</span></td>
                        <td>
                            5
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            20
                        </td>
                        <td>
                            No limit
                        </td>
                    </tr>
                    <tr>
                        <td><span class="ptable-title"> Image Sharing Public</span></td>
                        <td>
                            5
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            20
                        </td>
                        <td>
                            No limit
                        </td>

                    </tr>
                    <tr>
                        <td><span class="ptable-title"> Image Sharing Private</span></td>
                        <td>
                            0
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            No limit
                        </td>
                        <td>
                            No limit
                        </td>

                    </tr>
                    <tr>
                        <td><span class="ptable-title"> Invitation to User</span></td>
                        <td>
                            0
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            No limit
                        </td>
                    </tr>
                    <!-- Buttons -->
                    <tr>
                        <td>&nbsp;</td>
                        {{#each data}}
                        <form action="/plan" method="post">
                            <td class="{{this.color}}">
                                <input type="hidden" id="price" name="price" value="{{this.price}}"  />
                                <button class="btn text-light select" type="submit" name="plan" value="{{this.id}}"
                                    data-bs-toggle="modal" data-bs-target="#exampleModalCenters">Select</button>
                            </td>
                        </form>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 