<style>
  /* message style*/
  #message {
    color: green;
    display: none;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  .nav-item button {
    border: 0px;
    margin-top: 6px;
  }

  nav form {
    margin-bottom: auto;
    margin-top: -4px;
  }
</style>

{{!-- navbar start --}}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark nav justify-content-end">
  <form action="/logout" method="post">
    <ul class="nav mx-4">
      <li class="nav-item">
        <a class="nav-link text-light" href="#"><i class="fa fa-fw fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <button class="text-light bg-dark" <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</button>
      </li>
    </ul>
  </form>
</nav>
{{!-- navbar end --}}

{{!-- homepage start --}}
<div class="row" style="padding-left:20px; margin:0px;">
  <div class="col-12">
    <h1 class="ml-4 mt-3 mx-5">Total Upload File : {{total}}</h1>
    <button type="button" class="btn btn-warning mb-3 mt-3 mx-5" data-bs-toggle="modal"
      data-bs-target="#exampleModalCenter">Upload Image</button>
  </div>

  {{#each files}}
  <div class="col-4">
    <form action="/viewimage" method="POST" enctype="multipart/form-data">
      {{!-- display images --}}
      <div class="container mt-3">
        <section>
          <div class="row">
            <div class="col-3 m-3">
              <div class="card shadow" style="width: 18rem;">
                <img src='{{this.path}}' style="width:285px;height: 200px;" />
                <div class="card-body text-center">
                  <h5 class="card-title font-poppins">{{this.name}}</h5>
                </div>
                <a onclick="publicFileId('{{ this._id }}')" class="btn btn-primary  mx-4 mb-3" data-bs-toggle="modal"
                  data-bs-target="#publicModalCenters">Share this Image public</a>
                <a onclick="privateFileId('{{ this._id }}')" class="btn btn-primary  mx-4 mb-3" data-bs-toggle="modal"
                  data-bs-target="#privateModalCenters">Share this Image private</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </form>
  </div>
  {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> </h5>
        <button type="button" style="float: right;" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" method="post" action="/upload" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="mb-3">
            <label for="formFile" class="form-label">Upload a Image : </label>
            <input class="form-control" type="file" name="file" id="formFile">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Upload Image</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- private Modal -->
<div class="modal fade" id="privateModalCenters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share this File</h5>
        <button type="button" style="float: right;" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" method="post" action="/permitted">
        <div class="modal-body">
          <div>
            <input type="hidden" name="fileId" id="privatefileId" />
            <label for="share-email" class="form-label">Enter a Email</label>
            <input class="form-control" type="text" id="share-email" name="emails" />
          </div>
        </div>
        {{!-- email sent successfully code --}}
        <div class="mx-3" id="message">
          <p>Email sent successfully!!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" onclick="msgdisplay()" class=" btn btn-primary">Private Share</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- public Modal -->
<div class="modal fade" id="publicModalCenters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share this File</h5>
        <button type="button" style="float: right;" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" method="post" action="/public">
        <div class="modal-body">
          <div>
            <input type="hidden" name="fileId" id="publicfileId" />
            <label for="share-email" class="form-label">Enter a Email</label>
            <input class="form-control" type="text" id="share-email" name="emails" />
          </div>
        </div>
        {{!-- email sent successfully code --}}
        <div class="mx-3" id="message">
          <p>Email sent successfully!!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" onclick="msgdisplay()" class=" btn btn-primary">Public Share</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function privateFileId(fileId) {
    document.getElementById("privatefileId").value = fileId;
  }
  function publicFileId(fileId) {
    document.getElementById("publicfileId").value = fileId;
  }

  function msgdisplay() {
    document.getElementById("message").style.display = "block";
  }
</script>
{{!-- homepage end --}}